html, body {
  max-width: 100%;
  overflow-x: hidden;
}
body{
  margin:0;
  padding:0;
  font-family: sans-serif;
  background: rgb(8, 27, 160); 
  background: radial-gradient(circle, rgba(8, 27, 160, 1) 0%, rgba(1, 4, 25, 1) 100%);
 background-attachment: fixed;
 background-size: cover;
 overflow-x: hidden;   
}

.navbar-brand{
  padding: 0;
}

#navbar{
background: rgba(0,0,0,0.5);
font-family: "Segoe UI",Roboto,Arial,sans-serif;
height: 7.5vh;
}

#quizlogo{
height: 8vh;
width: 5vw;
margin-left: -0.8vw;
padding:0vw;
}

#credenzlogo{
height: 6vh;
width: 7vw;
margin-left: 0vw;
padding:0vw;
}

#wb{
 color: white;
 font-size: 3vh;
}

.main-row{
 display: flex;
 justify-content: center;
 align-items: center ;
 margin-top: 3vh;
}

.icon-row{
display: flex;
justify-content: center;
align-items: center ;

}
img{
 height: 40vh;
}
#icons{
 color: white;
 font-size: 6vh;
}
.card{
 background: rgb(8, 27, 160); 
 background: radial-gradient(circle, rgba(8, 27, 160, 1) 0%, rgba(1, 4, 25, 1) 100%);
}
.col1{
  justify-content: center;
  align-items: center;
}
.name{
 display: flex;
 justify-content: center;
 align-items: center;
 color: white;
 font-size: 3.5vh;
}

footer{
  background: rgba(0,0,0,0.5);
  height: 7vh;
}

.ft{
  /* background: rgba(0,0,0,0.7); */
  font-size: 3vh;
  padding-top: 1.5vh;
  color: white;
}
.our-team-row{
display: flex;
justify-content: center;
align-items: center;
width: 75vw;
}
.our-team-col{
 display: flex;
justify-content: center;
align-items: center;
color: white;
font-size: 3vh;
margin-left: 30vh;
}
.text-row{
display: flex;
justify-content: center;
align-items: center;
}
.text-col{
display: flex;
justify-content: center;
align-items: center; 
border-bottom: 2px solid white;
}
.senior-team-text-row{
display: flex;
justify-content: center;
align-items: center;
margin-top: -2.5vh;
}
.senior-team-text-col{
display: flex;
justify-content: center;
align-items: center;
font-size: 4.5vh;
color: white;
border-bottom: 2px solid white;
}
.junior-team-text-row{
display: flex;
justify-content: center;
align-items: center;
/* width: 40vh; */
margin-top: 2.7vh;
}
.junior-team-text-col{
display: flex;
justify-content: center;
align-items: center;
font-size: 4.5vh;
color: white;
border-bottom: 2px solid white;
}
@media screen and (max-width: 1001px){
.navbar{
  display: none;
}
.card{
  display: none;
}
footer{
  display: none;
}
body{
  background-color: #fff;
}
.main-row{
  display: none;
}
.junior-team-text-col{
  display:none;
}
.senior-team-text-col{
  display:none;
  }
  .error{
    color:white;
    text-align: center;
    margin: 476px 33px;
    
    font-size: 67px;
  }

}



@media(min-width: 1300px){
.name{
 font-size: 3.1vh;

}
}
@media(min-width: 1400px){
  #icon-left-margin{
 margin-left: 0.8vw;
}
}
@media (min-width:1440px){
  .senior-team-text-col{
  font-size: 3.8vh;
  }
  .junior-team-text-col{
  font-size: 3.8vh;
  }
  .name{
   font-size: 3.2vh;
  }
  
  }
@media(min-width: 1500px){
#credenzlogo{
height: 7vh;
width: 10vw;
}
#wb{
 font-size: 2.8vh;
} 
#icon-left-margin{
 margin-left: 1vw;
}
.our-team-col{  
  font-size: 3.5vh;  
  }
}

@media(min-width: 1700px){
.name{
 font-size: 3.3vh;

}
}

#wb{
font-size: 2.6vh;
}
@media (min-width:1000px){
  .senior-team-text-col{
  font-size: 3.6vh;
  }
  .junior-team-text-col{
  font-size: 3.8vh;
  }
  .name{
   font-size: 2.8vh;
  }
  .error{
  display: none;
  }
  .our-team-col{
    margin-left: 22vh;
    font-size: 3.5vh;
  }
  #wb{
    font-size: 3vh;
  }
  #credenzlogo{
    height: 6.5vh;
    width:7.4vw;

  }
  #n{
    font-size: 2.6
    vh;
  }
  
  }
  @media screen and (min-width: 1480px) and (max-width: 1580px){
    #credenzlogo{
      width: 9vw;
  }
  }
  @media screen and (min-width: 1581px) and (max-width: 1680px){
    #credenzlogo{
      width: 9.5vw;
  }
  }
  @media screen and (min-width: 1681px) and (max-width: 1780px){
    #credenzlogo{
      width: 9.5vw;
  }
  }
  @media screen and (min-width: 1781px) and (max-width: 1880px){
    #credenzlogo{
      width: 9.5vw;
  }
  }
  @media(min-width: 1200px){
    #wb{
    font-size: 3vh;
   } 
   #icon-left-margin{
    margin-left: 0.7vw;
   }
   .our-team-col{
     margin-left: 24vh;
   }
   
   }
   @media(min-width: 1900px){
    #icon-left-margin{
   margin-left: 1.7vw;
  }
  .name{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3.2vh;
   
   }
   .our-team-col{
     margin-left: 27vh;
   }
   
  }
  .cardd{
    display:flex;
    justify-content: center;
    /* align-items: center; */
    margin-top: 2vh;
  
  }
  .senior-team-text-row{
    margin-top: 1vh;
  }
  #credenzlogo{
    width: 9.5vw;
}

.row{
   
    display:flex;
    justify-content: center;
    align-items: center;
  }
  #car{
    margin-left: 2.3vh;
    width:40vh;
  }
.junior-team-text-col{
  width:12vw;
}

  
  